@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: #884d4d;
    color: #F6F6F6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    width: 100%;
    padding: 2% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu{
    display: flex;
    gap: 5vw;
    flex-wrap: wrap;
}
.header__menu__link{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #F6F6F6;
    text-decoration: none;

}


.presentacion {
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.presentacion__contenido {
    flex: 1 1 55%; /* crecer, reducir, base 55% */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: 300px; /* para que no se reduzca demasiado */
}

.presentacion__imagen {
    flex: 1 1 40%; /* crecer, reducir, base 40% */
    max-width: 400px;
    width: 100%;
    border-radius: 8px;
    min-width: 200px;
}

.presentacion__contenido__titulo{
    font-size: 2.2rem;
    font-family: 'Krona One', sans-serif;
}

.titulo-destaque {
    color: #cab6b6;
}

.presentacion__contenido__texto{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.presentacion__enlaces{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.presentacion__enlaces__subtitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.presentacion__enlaces__link{
      /* background-color: #22D4FD; */
      display: flex;
      justify-content: center;
      gap: 1rerm;
      border: 2px solid #cab6b6;
      width: 100%;
      max-width: 380px;
      text-align: center;
      border-radius: 8px;
      font-size: 1.5rem;
      font-weight: 600;
      padding: 1rem;
      text-decoration: none;
      color: #F6F6F6;
      font-family: 'Montserrat', sans-serif;
}

.presentacion__enlaces__link:hover{
    background-color: #884d4d;
}

.footer{
    color: #F6F6F6;
    background-color: #cab6b6;
    padding: 1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 100;
}
/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .presentacion {
        flex-direction: column;
        padding: 5% 5%;
    }
    .presentacion__contenido, .presentacion__imagen {
        flex: 1 1 100%;
        max-width: 100%;
        min-width: auto;
    }
    .presentacion__imagen {
        margin-top: 2rem;
        width: 100%;
    }
}
